[user]
	email = arnevanmaele@gmail.com
	name = Arne Van Maele

[core]
	hooksPath = ~/.githooks
	excludesfile = /home/arne/.gitignore_global

[safe]
	directory = /opt/keyd
	directory = *
	directory = /home/arne/Projects/lynxController.git/develop
[init]
	defaultBranch = main
[pull]
	rebase = true

[diff]
	tool = difftastic

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

[alias]
	dft = difftool

[credential "https://github.com"]
	useHttpPath = true

[includeIf "gitdir:~/Projects/"]
    path = .gitconfig-personal

[includeIf "gitdir:~/Personal/"]
    path = .gitconfig-personal

[includeIf "gitdir:~/Tools/"]
    path = .gitconfig-personal

[includeIf "gitdir:~/dotfiles/"]
    path = .gitconfig-personal

[merge]
	conflictstyle = diff3
[rerere]
	enabled = true
